
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    h2 {
        color: #333;
        font-size: 2em;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6em;
        color: #666;
        margin-bottom: 10px;
    }

    .container p:first-child {
        text-transform: uppercase;
        font-weight: bold;
    }
</style>





<div class="container">
    <h2>About Project</h2>
    <p>
        Student Management System is a web application developed in ASP.NET framework for improvement of educational procedure. It is a computer-based application designed to manage and maintain student records in educational institutions such as schools, colleges, and universities.
    </p>
    <p>
        The main purpose of this Student Management System is to help schools manage and store information with accuracy and ease and eliminate the traditional ways. The system aims to streamline administrative processes and enhance the effectiveness of communication between faculty, students, and parents.
    </p>
    <p>
        Implementation of a Student Management System project offers several benefits to educational institutions. It is very important for every schools and universities to have a tool in managing enormous amount of data.
        And as a solution to this, they need to have an automated system which is the Student Management System. The SMS project facilitates com- munication between faculty, students, and parents, thereby improving collaboration and transparency.
        Student Management System is a vital tool for educational institutions seeking to improve administrative processes, enhance communication, and provide a better learning experience for stu- dents.
        The use of this application enhances and improves existing teaching-learning process. Moreover, this system can be used not only for management of students but also in different research fields, health care organizations, etc.
    </p>
</div>



